@use "/src/styles/variables" as *;

.amount__input {
    height: 3rem;
    padding: 1rem;
    margin-right: 1rem;
    border: 1px solid $color-system-default-30;
    border-radius: 1rem;
    background-color: $color-system-default-10;
    color: $color-neutral-colors-black;
    border-bottom: 0.2rem solid $color-primary-dark-green;
    font-size: 1rem;
    font-weight: 600;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    &:hover,
    &:focus {
        border-bottom: 0.2rem solid $color-primary-light-green;
        outline: none;
    }
}
